{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title%} Create New Topic {%endblock title%}
{% block breadcrumb%}
        <li class="breadcrumb-item  " style="margin-left: 10px;"><a href="{% url 'boards:home'%}" style="text-decoration: none;">Boards</a></li>
        <li class="breadcrumb-item  "><a href="{% url 'boards:board_topics' board.id%}" style="text-decoration: none;">{{board.name}}</a></li>
        <li class="breadcrumb-item active ">New Topic</li>
{%endblock%}
{% block content%}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% comment %} <div class="form-group mb-3">

            <label for="">Subject</label>
            <input type="text" name="subject" class="form-control" id="">
        </div>
        <div class="form-group">

            <label for="">Message</label>
            <textarea name="message" class="form-control mb-3" rows="5" id=""></textarea>
        </div> {% endcomment %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn btn-success mt-2"> Add Topic</button>
    </form>
{% endblock%}